@model C200_Official.Models.Article

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit of Article</h1>

<hr />
<div class="row">


    <div class="col-sm-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">

                @{
                    if (Model.Picture != "")
                    {
                        <img src="/pictures/@Model.Picture" width="300" />
                    }
                    else
                    {
                        <img src="/pictures/NoImage.jpeg" width="300" />

                    }
                }
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea rows="10" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category Name</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danarchiveger"></span>
            </div>

            <label class="control-label" for="chkpic"></label>
            <label for="chkpic">
                <input type="checkbox" name="chkpic" id="chkpic" onclick="photoFunction()" /> Change Picture
            </label>

            <div class="form-group" id="Photo" style="display: none;">
                <label class="control-label" for="Photo">Photo :</label>
                <input type="file" name="Photo" class="form-control-file" />
            </div>

            <script>
                function photoFunction() {
                    if (document.getElementById("chkpic").checked) {
                        document.getElementById("Photo").style.display = "block"; // block = show
                    } else {
                        document.getElementById("Photo").style.display = "none";
                    }

                }
            </script>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <!--name for the picture-->
            <div class="form-group" style="visibility:hidden">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
