@model C200_Official.Models.Supplement

@{
    ViewData["Title"] = "Edit";
}


<h4>Edit Supplement Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <textarea rows="3" asp-for="Name" class="form-control"></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="/pictures/@Model.Picture" width="400" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="10" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuggestedUse" class="control-label"></label>
                <textarea rows="5" asp-for="SuggestedUse" class="form-control"></textarea>
                <span asp-validation-for="SuggestedUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warnings" class="control-label"></label>
                <textarea rows="7" asp-for="Warnings" class="form-control"></textarea>
                <span asp-validation-for="Warnings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplementTypeId" class="control-label">Supplement Type</label>
                <select asp-for="SupplementTypeId" class="form-control" asp-items="ViewBag.SupplementId"></select>
                <span asp-validation-for="SupplementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>


            <label class="control-label" for="chkpic"></label>
            <label for="chkpic">
                <input type="checkbox" name="chkpic" id="chkpic" onclick="photoFunction()" /> Change Picture
            </label>

            <div class="form-group" id="image" style="display: none;">
                <label class="control-label" for="image">Photo</label>
                <input type="file" name="image" class="form-control-file" />
            </div>

            <script>
                function photoFunction() {
                    if (document.getElementById("chkpic").checked) {
                        document.getElementById("image").style.display = "block"; // block = show
                    } else {
                        document.getElementById("image").style.display = "none";
                    }

                }
            </script>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <!--name for the picture-->
            <div class="form-group" style="visibility:hidden">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
